body {
    background-color: #100e17;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;    
    color: #c2c2c2;

}
h2 {
    color: white;
}

.navbar .navbar-brand {
    padding: 15px;
}

.navbar .navbar-brand {
    font-size: 50px;
    font-family: 'Merriweather', serif;
    background: -webkit-linear-gradient(#50A7C2, #64ffda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .navbar-nav .nav-item{
    padding: 25px;
}
.navbar .navbar-nav .nav-item a {
    color: white;
    letter-spacing: 1px;
    transition: all ease-in .7s;
}

.navbar .navbar-nav .nav-item a:hover {
    color: black;
    border-radius: 80px;
    background-image: linear-gradient(45deg, #50A7C2, #64ffda);
    border: none;
    filter: drop-shadow(1px 1px 5px rgb(48, 98, 114));
}
 
footer {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
    
  
}

.copyright {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.footer-links {
    display: flex;
    align-items: center;

}

.footer-links a {
    opacity: 0.5;
    text-decoration: none;
    font-size: 25px;
    padding: 0px 10px;
    color: #0bceaf;
}

.footer-links a:hover {
    opacity: 1;
}


.projects {
    margin: 50px 0;
}

.projects h1 {
    font-size: 50px;
    font-family: 'Merriweather', serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

.projects .featuredWork .projectInfo1{
    margin-top: 50px;
    margin-bottom: 100px;
}

.projects .featuredWork .projectInfo1 img {
    border-radius: 10px;
}

.projects .featuredWork .projectInfo1 .row .textStuff{
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects .featuredWork .projectInfo1 .row .textStuff p {
    background-color: #312d3c;
    padding: 30px;
    font-family: 'Karla', sans-serif;       
    
}

.projects .featuredWork .projectInfo1 .row .textStuff ul {
    list-style: circle;
    columns: 3;
    font-family: 'Karla', sans-serif;    
    text-align: left; 
    color: #0bceaf;

}

.projects .featuredWork .projectInfo2{
    margin-top: 50px;
    margin-bottom: 100px;
}

.projects .featuredWork .projectInfo2 img {
    border-radius: 10px;
}

.projects .featuredWork .projectInfo2 .row .textStuff{
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects .featuredWork .projectInfo2 .row .textStuff p {
    background-color: #312d3c;
    padding: 30px;
    font-family: 'Karla', sans-serif;    
}

.projects .featuredWork .projectInfo2 .row .textStuff ul {
    list-style: circle;
    columns: 3;
    text-align: left; 
    color: #0bceaf;
    font-family: 'Karla', sans-serif;    


}

.projects .featuredWork .projectInfo3{
    margin-top: 50px;
    margin-bottom: 100px;
}

.projects .featuredWork .projectInfo3 img {
    border-radius: 10px;
}

.projects .featuredWork .projectInfo3 .row .textStuff{
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects .featuredWork .projectInfo3 .row .textStuff p {
    background-color: #312d3c;
    padding: 30px;
    font-family: 'Karla', sans-serif;    

}

.projects .featuredWork .projectInfo3 .row .textStuff ul {
    list-style: circle;
    columns: 3;
    text-align: left; 
    color: #0bceaf;
    font-family: 'Karla', sans-serif;    

}

.opInfo h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: bold;
    margin: 45px;
    color: white;
}

.opInfo .row .opCards {
    margin-bottom: 50px;
}
.opInfo .row .opCards:hover {
    margin-bottom: 50px;
}

.opInfo .row .opCards .opBody{
    background-color: #312d3c;
    /* border-radius: 3px;
    padding: 15px;
    background: #17141d; */
    color: #c2c2c2;
    box-shadow: 0 4px 80px #070509;
    padding: 2rem;
    border-radius: 16px;

}

.opInfo .row .opCards .opBody h4 {
    text-align: center;
    font-family: 'Karla', sans-serif;    
    padding: 25px 0 0 0;
}

.opInfo .row .opCards .opBody p{
    padding: 10px;
    text-align: center;
}

.opInfo .row .opCards .opBody img {
    border-radius: 5px;
}

.linksDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.links{
    color: #0bceaf;
    opacity: 0.7;
    padding: 10px;

}

.links:hover{
    color: #0bceaf;
    opacity: 1;
    padding: 10px;

}

